In [2]:
import re
import os
import glob
import zipfile
import requests
from urllib.request import urlretrieve
import json
import pandas as pd

In [5]:
# Necessary metadata
article_id = 14096681  # this is the unique identifier of the article on figshare
url = f"https://api.figshare.com/v2/articles/{article_id}"
headers = {"Content-Type": "application/json"}
output_directory = "figshareairline/"

In [6]:
response = requests.request("GET", url, headers=headers)
data = json.loads(response.text)  # this contains all the articles data, feel free to check it out
files = data["files"]             # this is just the data about the files, which is what we want
files

[{'id': 26579150,
  'name': 'daily_rainfall_2014.png',
  'size': 58863,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26579150',
  'supplied_md5': 'fd32a2ffde300a31f8d63b1825d47e5e',
  'computed_md5': 'fd32a2ffde300a31f8d63b1825d47e5e'},
 {'id': 26579171,
  'name': 'environment.yml',
  'size': 192,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26579171',
  'supplied_md5': '060b2020017eed93a1ee7dd8c65b2f34',
  'computed_md5': '060b2020017eed93a1ee7dd8c65b2f34'},
 {'id': 26586554,
  'name': 'README.md',
  'size': 5422,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26586554',
  'supplied_md5': '61858c6cc0e6a6d6663a7e4c75bbd88c',
  'computed_md5': '61858c6cc0e6a6d6663a7e4c75bbd88c'},
 {'id': 26766812,
  'name': 'data.zip',
  'size': 814041183,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26766812',
  'supplied_md5': 'b517383f76e77bd03755a63a8ff83ee9',
  'computed_md5': 'b517383f76e77bd03755a63a8ff83ee9'},
 {'id': 26766815,
  'name': 'get_data.py',
  'size': 4113,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26766815',
  'supplied_md5': '7829028495fd9dec9680ea013474afa6',
  'computed_md5': '7829028495fd9dec9680ea013474afa6'}]

In [11]:
%%time
files_to_dl = ["data.zip"]  # feel free to add other files here
for file in files:
    if file["name"] in files_to_dl:
        os.makedirs(output_directory, exist_ok=True)
        urlretrieve(file["download_url"], output_directory + file["name"])

CPU times: user 3.41 s, sys: 6.87 s, total: 10.3 s
Wall time: 2min 19s

In [14]:
%%time
with zipfile.ZipFile(os.path.join(output_directory, "data.zip"), 'r') as f:
    f.extractall(os.path.join(output_directory,'data'))

CPU times: user 10 s, sys: 1.49 s, total: 11.5 s
Wall time: 11.7 s

In [15]:
%ls -ltr figshareairline/data/

total 10469384
-rw-r--r--@  1 tanmayagarwal  staff   95376895 27 Mar 14:20 MPI-ESM-1-2-HAM_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff   94960113 27 Mar 14:20 AWI-ESM-1-1-LR_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff   82474546 27 Mar 14:20 NorESM2-LM_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  127613760 27 Mar 14:20 ACCESS-CM2_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  232118894 27 Mar 14:20 FGOALS-f3-L_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  330360682 27 Mar 14:20 CMCC-CM2-HR4_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  254009247 27 Mar 14:20 MRI-ESM2-0_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  235661418 27 Mar 14:20 GFDL-CM4_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  294260911 27 Mar 14:20 BCC-CSM2-MR_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  295768615 27 Mar 14:20 EC-Earth3-Veg-LR_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  328852379 27 Mar 14:20 CMCC-ESM2_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff   67784105 27 Mar 14:20 NESM3_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff   95640682 27 Mar 14:20 MPI-ESM1-2-LR_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  114707410 27 Mar 14:20 ACCESS-ESM1-5_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  116179272 27 Mar 14:20 FGOALS-g3_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  102517965 27 Mar 14:20 INM-CM4-8_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  515458033 27 Mar 14:20 MPI-ESM1-2-HR_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  332813281 27 Mar 14:20 TaiESM1_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  337555851 27 Mar 14:20 NorESM2-MM_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  328787320 27 Mar 14:20 CMCC-CM2-SR5_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff     952202 27 Mar 14:20 observed_daily_rainfall_SYD.csv
-rw-r--r--@  1 tanmayagarwal  staff   93829697 27 Mar 14:20 KIOST-ESM_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  102692289 27 Mar 14:20 INM-CM5-0_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  206822938 27 Mar 14:20 MIROC6_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff   55224437 27 Mar 14:20 BCC-ESM1_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  124586961 27 Mar 14:20 GFDL-ESM4_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff   46286371 27 Mar 14:20 CanESM5_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  333489879 27 Mar 14:20 SAM0-UNICON_daily_rainfall_NSW.csv
drwxr-xr-x@ 30 tanmayagarwal  staff        960 27 Mar 14:20 __MACOSX/

In [25]:
l = "MPI-ESM-1-2-HAM_daily_rainfall_NSW.csv"

In [26]:
l[:-23]

'MPI-ESM-1-2-HAM'

In [23]:
len("_daily_rainfall_NSW.csv")

23

In [20]:
%%time
### just listing to get an idea how individual file looks like 
use_cols = ['time', 'lat_min', 'lat_max', 'lon_min', 'lon_max', 'rain (mm/day)']
df = pd.read_csv("figshareairline/data/ACCESS-CM2_daily_rainfall_NSW.csv", usecols=use_cols,dtype={'TailNum': 'str'})
df

CPU times: user 807 ms, sys: 72.2 ms, total: 879 ms
Wall time: 880 ms

,time,lat_min,lat_max,lon_min,lon_max,rain (mm/day)
0,1889-01-01 12:00:00,-36.25,-35.00,140.625,142.50,3.293256e-13
1,1889-01-02 12:00:00,-36.25,-35.00,140.625,142.50,0.000000e+00
2,1889-01-03 12:00:00,-36.25,-35.00,140.625,142.50,0.000000e+00
3,1889-01-04 12:00:00,-36.25,-35.00,140.625,142.50,0.000000e+00
4,1889-01-05 12:00:00,-36.25,-35.00,140.625,142.50,1.047658e-02
...,...,...,...,...,...,...
1932835,2014-12-27 12:00:00,-30.00,-28.75,151.875,153.75,2.951144e-02
1932836,2014-12-28 12:00:00,-30.00,-28.75,151.875,153.75,2.257118e-01
1932837,2014-12-29 12:00:00,-30.00,-28.75,151.875,153.75,1.204670e-01
1932838,2014-12-30 12:00:00,-30.00,-28.75,151.875,153.75,2.632404e-02
1932839,2014-12-31 12:00:00,-30.00,-28.75,151.875,153.75,3.431610e-02

In [55]:
%ls -ltr figshareairline/data/

total 10469384
-rw-r--r--@  1 tanmayagarwal  staff   95376895 27 Mar 14:20 MPI-ESM-1-2-HAM_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff   94960113 27 Mar 14:20 AWI-ESM-1-1-LR_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff   82474546 27 Mar 14:20 NorESM2-LM_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  127613760 27 Mar 14:20 ACCESS-CM2_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  232118894 27 Mar 14:20 FGOALS-f3-L_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  330360682 27 Mar 14:20 CMCC-CM2-HR4_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  254009247 27 Mar 14:20 MRI-ESM2-0_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  235661418 27 Mar 14:20 GFDL-CM4_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  294260911 27 Mar 14:20 BCC-CSM2-MR_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  295768615 27 Mar 14:20 EC-Earth3-Veg-LR_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  328852379 27 Mar 14:20 CMCC-ESM2_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff   67784105 27 Mar 14:20 NESM3_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff   95640682 27 Mar 14:20 MPI-ESM1-2-LR_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  114707410 27 Mar 14:20 ACCESS-ESM1-5_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  116179272 27 Mar 14:20 FGOALS-g3_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  102517965 27 Mar 14:20 INM-CM4-8_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  515458033 27 Mar 14:20 MPI-ESM1-2-HR_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  332813281 27 Mar 14:20 TaiESM1_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  337555851 27 Mar 14:20 NorESM2-MM_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  328787320 27 Mar 14:20 CMCC-CM2-SR5_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff     952202 27 Mar 14:20 observed_daily_rainfall_SYD.csv
-rw-r--r--@  1 tanmayagarwal  staff   93829697 27 Mar 14:20 KIOST-ESM_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  102692289 27 Mar 14:20 INM-CM5-0_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  206822938 27 Mar 14:20 MIROC6_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff   55224437 27 Mar 14:20 BCC-ESM1_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  124586961 27 Mar 14:20 GFDL-ESM4_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff   46286371 27 Mar 14:20 CanESM5_daily_rainfall_NSW.csv
-rw-r--r--@  1 tanmayagarwal  staff  333489879 27 Mar 14:20 SAM0-UNICON_daily_rainfall_NSW.csv
drwxr-xr-x@ 30 tanmayagarwal  staff        960 27 Mar 14:20 __MACOSX/

In [61]:
%%time
## here we are using a normal python way for merging the data 
import pandas as pd
files = glob.glob('figshareairline/data/*.csv')
df = pd.concat(pd.read_csv(file, index_col=0, parse_dates=True, 
            usecols=use_cols).assign(model = file[21:-23])
          for file in files)
              
df.to_csv("figshareairline/combined_data.csv")

CPU times: user 5min 1s, sys: 10.7 s, total: 5min 11s
Wall time: 5min 14s

In [62]:
df

,lat_min,lat_max,lon_min,lon_max,rain (mm/day),model
time,,,,,,
1889-01-01 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.244226e-13,MPI-ESM-1-2-HAM
1889-01-02 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.217326e-13,MPI-ESM-1-2-HAM
1889-01-03 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.498125e-13,MPI-ESM-1-2-HAM
1889-01-04 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.251282e-13,MPI-ESM-1-2-HAM
1889-01-05 12:00:00,-35.439867,-33.574619,141.5625,143.4375,4.270161e-13,MPI-ESM-1-2-HAM
...,...,...,...,...,...,...
2014-12-27 12:00:00,-30.157068,-29.214660,153.1250,154.3750,6.689683e+00,SAM0-UNICON
2014-12-28 12:00:00,-30.157068,-29.214660,153.1250,154.3750,7.862555e+00,SAM0-UNICON
2014-12-29 12:00:00,-30.157068,-29.214660,153.1250,154.3750,1.000503e+01,SAM0-UNICON
2014-12-30 12:00:00,-30.157068,-29.214660,153.1250,154.3750,8.541592e+00,SAM0-UNICON
2014-12-31 12:00:00,-30.157068,-29.214660,153.1250,154.3750,6.811749e+01,SAM0-UNICON

In [64]:
%%sh
du -sh figshareairline/combined_data.csv

5.6G	figshareairline/combined_data.csv

In [65]:
print(df.shape)

(62467843, 6)

In [66]:
df.columns

Index(['lat_min', 'lat_max', 'lon_min', 'lon_max', 'rain (mm/day)', 'model'], dtype='object')

### Trying to load data to memory

In [85]:
df = pd.read_csv("figshareairline/combined_data.csv")

In [86]:
df.memory_usage().sum()/1e6

3498.199336

In [72]:
# Using less columns

In [87]:
df = pd.read_csv("figshareairline/combined_data.csv", usecols=['time', 'rain (mm/day)','model'])

In [88]:
df.memory_usage().sum()/1e6

1499.22836

In [89]:
# Using dtype to reduce size

In [90]:
import numpy as np

In [91]:
dtype_dict = {
    'lat_min': np.float16,
    'lat_max': np.float16,
    'lon_min': np.float16,
    'lon_max': np.float16,
    'rain (mm/day)': np.float32,

}

In [92]:
df = pd.read_csv("figshareairline/combined_data.csv", dtype=dtype_dict)

In [93]:
df.memory_usage().sum()/1e6

1749.099732

In [81]:
df.head()

,time,lat_min,lat_max,lon_min,lon_max,rain (mm/day),model
0,1889-01-01 12:00:00,-35.4375,-33.5625,141.5,143.5,4.244226e-13,MPI-ESM-1-2-HAM
1,1889-01-02 12:00:00,-35.4375,-33.5625,141.5,143.5,4.217326e-13,MPI-ESM-1-2-HAM
2,1889-01-03 12:00:00,-35.4375,-33.5625,141.5,143.5,4.498125e-13,MPI-ESM-1-2-HAM
3,1889-01-04 12:00:00,-35.4375,-33.5625,141.5,143.5,4.251282e-13,MPI-ESM-1-2-HAM
4,1889-01-05 12:00:00,-35.4375,-33.5625,141.5,143.5,4.270161e-13,MPI-ESM-1-2-HAM

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62467843 entries, 0 to 62467842
Data columns (total 7 columns):
 #   Column         Dtype
---  ------         -----
 0   time           object
 1   lat_min        float16
 2   lat_max        float16
 3   lon_min        float16
 4   lon_max        float16
 5   rain (mm/day)  float32
 6   model          object
dtypes: float16(4), float32(1), object(2)
memory usage: 1.6+ GB

In [54]:
pd.read_csv("figshareairline/combined_data.csv", usecols=['timestamp', 'rain (mm/day)','model'])

Signature:
pd.read_csv(
    filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]',
    *,
    sep: 'str | None | lib.NoDefault' = <no_default>,
    delimiter: 'str | None | lib.NoDefault' = None,
    header: "int | Sequence[int] | None | Literal['infer']" = 'infer',
    names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>,
    index_col: 'IndexLabel | Literal[False] | None' = None,
    usecols=None,
    squeeze: 'bool | None' = None,
    prefix: 'str | lib.NoDefault' = <no_default>,
    mangle_dupe_cols: 'bool' = True,
    dtype: 'DtypeArg | None' = None,
    engine: 'CSVEngine | None' = None,
    converters=None,
    true_values=None,
    false_values=None,
    skipinitialspace: 'bool' = False,
    skiprows=None,
    skipfooter: 'int' = 0,
    nrows: 'int | None' = None,
    na_values=None,
    keep_default_na: 'bool' = True,
    na_filter: 'bool' = True,
    verbose: 'bool' = False,
    skip_blank_lines: 'bool' = True,
    parse_dates=None,
    infer_datetime_format: 'bool' = False,
    keep_date_col: 'bool' = False,
    date_parser=None,
    dayfirst: 'bool' = False,
    cache_dates: 'bool' = True,
    iterator: 'bool' = False,
    chunksize: 'int | None' = None,
    compression: 'CompressionOptions' = 'infer',
    thousands: 'str | None' = None,
    decimal: 'str' = '.',
    lineterminator: 'str | None' = None,
    quotechar: 'str' = '"',
    quoting: 'int' = 0,
    doublequote: 'bool' = True,
    escapechar: 'str | None' = None,
    comment: 'str | None' = None,
    encoding: 'str | None' = None,
    encoding_errors: 'str | None' = 'strict',
    dialect: 'str | csv.Dialect | None' = None,
    error_bad_lines: 'bool | None' = None,
    warn_bad_lines: 'bool | None' = None,
    on_bad_lines=None,
    delim_whitespace: 'bool' = False,
    low_memory=True,
    memory_map: 'bool' = False,
    float_precision: "Literal['high', 'legacy'] | None" = None,
    storage_options: 'StorageOptions' = None,
) -> 'DataFrame | TextFileReader'
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts any ``os.PathLike``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Delimiter to use. If sep is None, the C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator by Python's builtin sniffer
    tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
    different from ``'\s+'`` will be interpreted as regular expressions and
    will also force the use of the Python parsing engine. Note that regex
    delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, default ``None``
    Alias for sep.
header : int, list of int, None, default 'infer'
    Row number(s) to use as the column names, and the start of the
    data.  Default behavior is to infer the column names: if no names
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a multi-index on the columns
    e.g. [0,1,3]. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : array-like, optional
    List of column names to use. If the file contains a header row,
    then you should explicitly pass ``header=0`` to override the column names.
    Duplicates in this list are not allowed.
index_col : int, str, sequence of int / str, or False, optional, default ``None``
  Column(s) to use as the row labels of the ``DataFrame``, either given as
  string name or column index. If a sequence of int / str is given, a
  MultiIndex is used.

  Note: ``index_col=False`` can be used to force pandas to *not* use the first
  column as the index, e.g. when you have a malformed file with delimiters at
  the end of each line.
usecols : list-like or callable, optional
    Return a subset of the columns. If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in `names` or
    inferred from the document header row(s). If ``names`` are given, the document
    header row(s) are not taken into account. For example, a valid list-like
    `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a DataFrame from ``data`` with element order preserved use
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
    in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to True. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
squeeze : bool, default False
    If the parsed data only contains one column then return a Series.

    .. deprecated:: 1.4.0
        Append ``.squeeze("columns")`` to the call to ``read_csv`` to squeeze
        the data.
prefix : str, optional
    Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...

    .. deprecated:: 1.4.0
       Use a list comprehension on the DataFrame's columns after calling ``read_csv``.
mangle_dupe_cols : bool, default True
    Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
    'X'...'X'. Passing in False will cause data to be overwritten if there
    are duplicate names in the columns.

    .. deprecated:: 1.5.0
        Not implemented, and a new argument to specify the pattern for the
        names of duplicated columns will be added instead
dtype : Type name or dict of column -> type, optional
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
    'c': 'Int64'}
    Use `str` or `object` together with suitable `na_values` settings
    to preserve and not interpret dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.

    .. versionadded:: 1.5.0

        Support for defaultdict was added. Specify a defaultdict as input where
        the default determines the dtype of the columns which are not explicitly
        listed.
engine : {'c', 'python', 'pyarrow'}, optional
    Parser engine to use. The C and pyarrow engines are faster, while the python engine
    is currently more feature-complete. Multithreading is currently only supported by
    the pyarrow engine.

    .. versionadded:: 1.4.0

        The "pyarrow" engine was added as an *experimental* engine, and some features
        are unsupported, or may not work correctly, with this engine.
converters : dict, optional
    Dict of functions for converting values in certain columns. Keys can either
    be integers or column labels.
true_values : list, optional
    Values to consider as True.
false_values : list, optional
    Values to consider as False.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : list-like, int or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning True if the row should be skipped and False otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with engine='c').
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : scalar, str, list-like, or dict, optional
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values.  By default the following values are interpreted as
    NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
    'nan', 'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether `na_values` is passed in, the behavior is as follows:

    * If `keep_default_na` is True, and `na_values` are specified, `na_values`
      is appended to the default NaN values used for parsing.
    * If `keep_default_na` is True, and `na_values` are not specified, only
      the default NaN values are used for parsing.
    * If `keep_default_na` is False, and `na_values` are specified, only
      the NaN values specified `na_values` are used for parsing.
    * If `keep_default_na` is False, and `na_values` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the `keep_default_na` and
    `na_values` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing na_filter=False can improve the performance
    of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
skip_blank_lines : bool, default True
    If True, skip over blank lines rather than interpreting as NaN values.
parse_dates : bool or list of int or names or list of lists or dict, default False
    The behavior is as follows:

    * boolean. If True -> try parsing the index.
    * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index cannot be represented as an array of datetimes,
    say because of an unparsable value or a mixture of timezones, the column
    or index will be returned unaltered as an object data type. For
    non-standard datetime parsing, use ``pd.to_datetime`` after
    ``pd.read_csv``. To parse an index or column with a mixture of timezones,
    specify ``date_parser`` to be a partially-applied
    :func:`pandas.to_datetime` with ``utc=True``. See
    :ref:`io.csv.mixed_timezones` for more.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If True and `parse_dates` is enabled, pandas will attempt to infer the
    format of the datetime strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.
keep_date_col : bool, default False
    If True and `parse_dates` specifies combining multiple columns then
    keep the original columns.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.
dayfirst : bool, default False
    DD/MM format dates, international and European format.
cache_dates : bool, default True
    If True, use a cache of unique, converted dates to apply the datetime
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

    .. versionadded:: 0.25.0
iterator : bool, default False
    Return TextFileReader object for iteration or getting chunks with
    ``get_chunk()``.

    .. versionchanged:: 1.2

       ``TextFileReader`` is a context manager.
chunksize : int, optional
    Return TextFileReader object for iteration.
    See the `IO Tools docs
    <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.

    .. versionchanged:: 1.2

       ``TextFileReader`` is a context manager.
compression : str or dict, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
    path-like, then detect compression from the following extensions: '.gz',
    '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
    (otherwise no compression).
    If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
    Set to ``None`` for no decompression.
    Can also be a dict with key ``'method'`` set
    to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'tar'``} and other
    key-value pairs are forwarded to
    ``zipfile.ZipFile``, ``gzip.GzipFile``,
    ``bz2.BZ2File``, ``zstandard.ZstdDecompressor`` or
    ``tarfile.TarFile``, respectively.
    As an example, the following could be passed for Zstandard decompression using a
    custom compression dictionary:
    ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

        .. versionadded:: 1.5.0
            Added support for `.tar` files.

    .. versionchanged:: 1.4.0 Zstandard support.

thousands : str, optional
    Thousands separator.
decimal : str, default '.'
    Character to recognize as decimal point (e.g. use ',' for European data).
lineterminator : str (length 1), optional
    Character to break file into lines. Only valid with C parser.
quotechar : str (length 1), optional
    The character used to denote the start and end of a quoted item. Quoted
    items can include the delimiter and it will be ignored.
quoting : int or csv.QUOTE_* instance, default 0
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
    QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
doublequote : bool, default ``True``
   When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive quotechar elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    One-character string used to escape other characters.
comment : str, optional
    Indicates remainder of line should not be parsed. If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter `header` but not by
    `skiprows`. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
    treated as the header.
encoding : str, optional
    Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

    .. versionchanged:: 1.2

       When ``encoding`` is ``None``, ``errors="replace"`` is passed to
       ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
       This behavior was previously only the case for ``engine="python"``.

    .. versionchanged:: 1.3.0

       ``encoding_errors`` is a new argument. ``encoding`` has no longer an
       influence on how encoding errors are handled.

encoding_errors : str, optional, default "strict"
    How encoding errors are treated. `List of possible values
    <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

    .. versionadded:: 1.3.0

dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: `delimiter`, `doublequote`, `escapechar`,
    `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
    override values, a ParserWarning will be issued. See csv.Dialect
    documentation for more details.
error_bad_lines : bool, optional, default ``None``
    Lines with too many fields (e.g. a csv line with too many commas) will by
    default cause an exception to be raised, and no DataFrame will be returned.
    If False, then these "bad lines" will be dropped from the DataFrame that is
    returned.

    .. deprecated:: 1.3.0
       The ``on_bad_lines`` parameter should be used instead to specify behavior upon
       encountering a bad line instead.
warn_bad_lines : bool, optional, default ``None``
    If error_bad_lines is False, and warn_bad_lines is True, a warning for each
    "bad line" will be output.

    .. deprecated:: 1.3.0
       The ``on_bad_lines`` parameter should be used instead to specify behavior upon
       encountering a bad line instead.
on_bad_lines : {'error', 'warn', 'skip'} or callable, default 'error'
    Specifies what to do upon encountering a bad line (a line with too many fields).
    Allowed values are :

        - 'error', raise an Exception when a bad line is encountered.
        - 'warn', raise a warning when a bad line is encountered and skip that line.
        - 'skip', skip bad lines without raising or warning when they are encountered.

    .. versionadded:: 1.3.0

    .. versionadded:: 1.4.0

        - callable, function with signature
          ``(bad_line: list[str]) -> list[str] | None`` that will process a single
          bad line. ``bad_line`` is a list of strings split by the ``sep``.
          If the function returns ``None``, the bad line will be ignored.
          If the function returns a new list of strings with more elements than
          expected, a ``ParserWarning`` will be emitted while dropping extra elements.
          Only supported when ``engine="python"``

delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
    used as the sep. Equivalent to setting ``sep='\s+'``. If this option
    is set to True, nothing should be passed in for the ``delimiter``
    parameter.
low_memory : bool, default True
    Internally process the file in chunks, resulting in lower memory use
    while parsing, but possibly mixed type inference.  To ensure no mixed
    types either set False, or specify the type with the `dtype` parameter.
    Note that the entire file is read into a single DataFrame regardless,
    use the `chunksize` or `iterator` parameter to return the data in chunks.
    (Only valid with C parser).
memory_map : bool, default False
    If a filepath is provided for `filepath_or_buffer`, map the file object
    directly onto memory and access the data directly from there. Using this